{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookSwap{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

    <!-- Header común -->
    <nav class="bg-white shadow mb-8">
        <div class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
            <div class="flex gap-6 items-center">
                <a href="{% url 'home' %}" class="text-lg font-semibold text-gray-800 hover:text-blue-600">🏠 Home</a>
                {% if user.is_authenticated %}
                  <!--   <a href="/admin/" class="text-lg text-gray-700 hover:text-blue-600">⚙️ Admin</a>-->
                    <a href="{% url 'my_books' %}" class="text-lg text-gray-700 hover:text-blue-600">📚 Mis libros</a>
                    <a href="{% url 'exchange_books' %}" class="text-lg text-gray-700 hover:text-blue-600">🔄 Intercambiar</a>
                    <a href="{% url 'received_requests' %}" class="text-lg text-gray-700 hover:text-blue-600">📨 Solicitudes</a>
                    <a href="{% url 'exchange_history' %}" class="text-lg text-gray-700 hover:text-blue-600">📖 Historial</a>
                    <a href="{% url 'ver_perfil' user.id %}" class="text-lg text-gray-700 hover:text-blue-600">👤 Mi perfil</a>


                {% endif %}
            </div>
            <div class="flex gap-4 items-center">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="text-red-600 hover:underline font-medium">🚪 Cerrar sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="text-blue-600 hover:underline font-medium">🔐 Login</a>
                    <a href="{% url 'register' %}" class="text-green-600 hover:underline font-medium">📝 Registro</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="px-4">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
